<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Testing {{ baseurl }}</h3>
  </div>
  <div class="panel-body">
	<ul ng-show="online" class="infos list-group row">
	  <li class="list-group-item col-xs-6 col-md-4"><emph>Server Name:</emph> {{ server }}</li>
	  <li class="list-group-item col-xs-6 col-md-4"><emph>Announced OCCI Version:</emph> {{ occi }}</li>
	</ul>
	<div ng-show="!online" class="alert alert-info">
	  Please input an endpoint and press go to launch test suite.
	</div>
  </div>
</div>

<div class="panel panel-default" ng-repeat="group in groups">
  <div class="panel-heading">
	<h3 class="panel-title">{{ group.desc }}</h3>
  </div>
  <div class="panel-body">
	<ul class="list-group">
	  <li ng-repeat="t in group.tests">
		<span ng-show="t.result" class="badge">{{ t.result }}</span>
		{{ t.desc }}
	  </li>
	</ul>
  </div>
</div>
